body {
  margin: 0;
}

.background {
  background-color: #0b1736;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: 15px;
}

.pokedex {
  width: 850px;
  height: 500px;
  background-color: #810b0b;
  border-radius: 20px;
  display: flex;
  padding: 20px;
  gap: 20px;
  box-shadow: 0px 0px 25px black;
}

.leftSide {
  width: 50%;
  background-color: #b30000;
  border-radius: 20px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topLight {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: radial-gradient(rgb(130, 236, 255), rgb(6, 208, 235) 80%);
  border: 5px solid white;
  margin-left: -12%;
}

.input {
  padding: 3px 8px;
  width: 50%;
  background-color: #ffffff;
  margin-left: 15%;
  border: 2px solid rgb(0, 0, 0);
  background-image: radial-gradient(rgb(252, 252, 252), rgb(180, 180, 180) 80%);
  color: black;
}

.searchButton {
  padding: 3px 8px;
  background-color: #660000;
  border: 2px solid black;
  cursor: pointer;
  font-weight: bold;
  margin-left: 1%;
  background-image: radial-gradient(rgb(255, 57, 57), rgb(68, 0, 0) 80%);
}

.screen {
  width: 300px;
  height: 200px;
  margin-top: 5%;
  background-image: radial-gradient(rgb(255, 255, 255), rgb(190, 190, 190) 80%);
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.pokemonImage {
  width: 200px;
  image-rendering: pixelated;
}

.bottomButtons {
  display: flex;
  margin-left: 10px;
  margin-top: 20px;
  gap: 20px;
  align-items: center;
}

.blueButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: radial-gradient(rgb(10, 45, 243), rgb(28, 0, 151) 80%);
}

.greenButton {
  width: 60px;
  height: 15px;
  background-image: radial-gradient(rgb(0, 131, 0), rgb(1, 82, 1) 80%);
  border-radius: 10px;
}

.orangeButton {
  width: 60px;
  height: 15px;
  background-image: radial-gradient(rgb(255, 145, 0), rgb(139, 102, 0) 80%);
  border-radius: 10px;
}

.dpad {
  width: 100px;
  height: 100px;

  background: #2b2b2b;

  clip-path: polygon(
    35% 0%, 65% 0%,
    65% 35%, 100% 35%,
    100% 65%, 65% 65%,
    65% 100%, 35% 100%,
    35% 65%, 0% 65%,
    0% 35%, 35% 35%
  );

  border: 2px solid #111;
  background-image: radial-gradient(rgb(62, 63, 62), rgb(0, 0, 0) 80%);
}

.rightSide {
  width: 50%;
  background-color: #b30000;
  border-radius: 20px;
  margin-left: 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.infoScreen {
  background-color: #148101;
  height: 300px;
  width: 80%;
  border-radius: 15px;
  padding: 15px;
  overflow-y: auto;
  margin-left: 10%;
  margin-bottom: 5%;
  background-image: radial-gradient(green, rgb(0, 68, 0) 80%);
}

.capitalize {
  text-transform: capitalize;
}

.gridButtons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

.smallButton {
  background-color:#060bff;
  height: 40px;
  border-radius: 8px;
  background-image: radial-gradient(rgb(12, 146, 255), rgb(6, 60, 207) 80%);
}